In [35]:
import backtrader as bt
import alpaca_backtrader_api as api
import alpaca_trade_api as tradeapi
import sys
sys.path.insert(0, '../')
import pandas as pd
import talib as ta
import numpy as np
from config import key_id, secret_key
import datetime

In [36]:
#import cross signal generator
from cross_signal import *

In [37]:
from datetime import date
d0 = date.today()
d1 = date(2008, 1, 1)
delta = d1 - d0

In [38]:
delta.days

-4482

In [39]:
startdate = datetime.datetime.today()
date_list = [startdate - datetime.timedelta(days=x) for x in range(-delta.days)]

In [40]:
#trading data is called in the form of JSON
#https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2019-01-01/2019-02-01?apiKey=
api = tradeapi.REST(key_id, secret_key)

In [41]:
#generate list of random days into list
day_list=[]
for i in range(len(date_list)):
    day_list.append(date_list[i].strftime("%Y-%m-%d"))

In [42]:
day_list[0]

'2020-04-09'

In [45]:
#generate random list of symbols
sym_list=['RDS.B']
# ,'AAPL','TSLA','JACK'
#for i in range(10):
    #rand_sym=random.random(range=len(symbols.csv))
    #symlist.append(rand_sym)

In [46]:
#Generate random day data for
df_list=[]
for i in range(len(date_list)):
        data_sym = api.polygon.historic_agg_v2(sym_list[0], 1, 'minute', _from=day_list[i], to=day_list[i]).df
        df_list.append(data_sym)

# join all days of the list of dataframes

In [47]:
df_list[742]

                              open     high      low    close  volume
timestamp
2018-03-29 07:49:00-04:00  65.2700  65.2700  65.2300  65.2300    1100
2018-03-29 07:50:00-04:00  65.2800  65.2800  65.2600  65.2800     500
2018-03-29 07:53:00-04:00  65.2600  65.2600  65.2300  65.2300    1000
2018-03-29 07:55:00-04:00  65.3000  65.3000  65.2700  65.2700     600
2018-03-29 07:59:00-04:00  65.2700  65.2700  65.2400  65.2400     500
2018-03-29 08:00:00-04:00  65.2100  65.2700  65.2100  65.2700    3400
2018-03-29 08:01:00-04:00  65.2600  65.3500  65.2500  65.3500    2900
2018-03-29 08:04:00-04:00  65.2400  65.2400  65.2400  65.2400    1000
2018-03-29 08:08:00-04:00  65.2800  65.2800  65.2800  65.2800    1000
2018-03-29 08:16:00-04:00  65.2600  65.2600  65.2600  65.2600     100
2018-03-29 08:17:00-04:00  65.2700  65.2700  65.2700  65.2700    1073
2018-03-29 08:18:00-04:00  65.3000  65.3000  65.3000  65.3000     100
2018-03-29 08:19:00-04:00  65.2800  65.2800  65.2800  65.2800     400
2018-03-29 08:20:00-04:00  65.2800  65.2800  65.2500  65.2500     437
2018-03-29 08:21:00-04:00  65.2600  65.2600  65.2500  65.2500     200
2018-03-29 08:22:00-04:00  65.2400  65.2400  65.2400  65.2400     100
2018-03-29 08:23:00-04:00  65.2300  65.2300  65.2300  65.2300     100
2018-03-29 08:26:00-04:00  65.3000  65.3000  65.2900  65.2900     600
2018-03-29 08:28:00-04:00  65.2900  65.2900  65.2900  65.2900     100
2018-03-29 08:31:00-04:00  65.2900  65.2900  65.2900  65.2900     200
2018-03-29 08:32:00-04:00  65.2300  65.2300  65.2200  65.2300     300
2018-03-29 08:33:00-04:00  65.2400  65.2400  65.2400  65.2400     100
2018-03-29 08:34:00-04:00  65.2100  65.2100  65.2100  65.2100     200
2018-03-29 08:35:00-04:00  65.2400  65.2400  65.2400  65.2400     200
2018-03-29 08:36:00-04:00  65.2500  65.2500  65.2500  65.2500    1600
2018-03-29 08:37:00-04:00  65.2500  65.2500  65.2100  65.2100     300
2018-03-29 08:38:00-04:00  65.2000  65.2000  65.2000  65.2000     900
2018-03-29 08:39:00-04:00  65.2000  65.2300  65.2000  65.2300     200
2018-03-29 08:41:00-04:00  65.2300  65.2400  65.2300  65.2400     700
2018-03-29 08:46:00-04:00  65.1900  65.1900  65.1900  65.1900     100
...                            ...      ...      ...      ...     ...
2018-03-29 15:31:00-04:00  65.5900  65.6000  65.5900  65.5950    2959
2018-03-29 15:32:00-04:00  65.6000  65.6050  65.5700  65.5700   10988
2018-03-29 15:33:00-04:00  65.5600  65.5700  65.5500  65.5600    7781
2018-03-29 15:34:00-04:00  65.5600  65.5699  65.5450  65.5500    3999
2018-03-29 15:35:00-04:00  65.5500  65.5500  65.5200  65.5300    5752
2018-03-29 15:36:00-04:00  65.5300  65.5400  65.5200  65.5200    3782
2018-03-29 15:37:00-04:00  65.5300  65.5450  65.5134  65.5300    4571
2018-03-29 15:38:00-04:00  65.5300  65.5500  65.5300  65.5500    1164
2018-03-29 15:39:00-04:00  65.5499  65.6100  65.5450  65.5900    6578
2018-03-29 15:40:00-04:00  65.6100  65.6450  65.6100  65.6300    1113
2018-03-29 15:41:00-04:00  65.6200  65.6200  65.5800  65.5800   14574
2018-03-29 15:42:00-04:00  65.5900  65.6100  65.5732  65.5732    2041
2018-03-29 15:43:00-04:00  65.5800  65.6500  65.5800  65.6400    5777
2018-03-29 15:44:00-04:00  65.6340  65.6340  65.5900  65.5900    5753
2018-03-29 15:45:00-04:00  65.5900  65.6500  65.5900  65.6300    9560
2018-03-29 15:46:00-04:00  65.6300  65.6300  65.6100  65.6200    2466
2018-03-29 15:47:00-04:00  65.6300  65.6300  65.6000  65.6279    1894
2018-03-29 15:48:00-04:00  65.6200  65.6800  65.6200  65.6600    5303
2018-03-29 15:49:00-04:00  65.6600  65.6700  65.6250  65.6600    7211
2018-03-29 15:50:00-04:00  65.6600  65.6800  65.6500  65.6700    6639
2018-03-29 15:51:00-04:00  65.6600  65.6800  65.6500  65.6757    4209
2018-03-29 15:52:00-04:00  65.6800  65.6900  65.6800  65.6800    1856
2018-03-29 15:53:00-04:00  65.6800  65.6800  65.6300  65.6400    3197
2018-03-29 15:54:00-04:00  65.6500  65.6500  65.6200  65.6200    3523
2018-03-29 15:55:00-04:00  65.6300  65.6300  65.5700  65.5800    5659
2018-03-29 15:56:00-04:00  65.5700  65.5700  65.5600  65.5600    6051
2018-03-29 15:57:00-04:00  65.5700  65.6000  65.5700  65.5900    4721
2018-03-29 15:58:00-04:00  65.5800  65.6200  65.5800  65.6000   19848
2018-03-29 15:59:00-04:00  65.5900  65.5900  65.5300  65.5300   15861
2018-03-29 16:02:00-04:00  65.5300  65.5300  65.5300  65.5300    1366

[434 rows x 5 columns]

In [48]:
df = pd.concat(df_list)
df

                              open     high      low    close   volume
timestamp
2020-04-09 04:04:00-04:00  36.8000  36.8000  36.8000  36.8000    300.0
2020-04-09 04:09:00-04:00  36.6600  36.6600  36.6600  36.6600    300.0
2020-04-09 04:10:00-04:00  36.5700  36.5700  36.5700  36.5700   2000.0
2020-04-09 04:20:00-04:00  36.6200  36.6200  36.6200  36.6200    400.0
2020-04-09 04:25:00-04:00  36.4900  36.4900  36.4800  36.4800    600.0
2020-04-09 04:31:00-04:00  36.4400  36.4400  36.4400  36.4400    400.0
2020-04-09 04:33:00-04:00  36.4500  36.4500  36.4500  36.4500    400.0
2020-04-09 04:43:00-04:00  36.4000  36.4300  36.4000  36.4300   2800.0
2020-04-09 04:48:00-04:00  36.4300  36.4300  36.4300  36.4300    800.0
2020-04-09 04:52:00-04:00  36.4700  36.4700  36.4700  36.4700    400.0
2020-04-09 04:55:00-04:00  36.4700  36.4700  36.4700  36.4700    200.0
2020-04-09 05:21:00-04:00  36.3200  36.3200  36.3200  36.3200   1800.0
2020-04-09 05:41:00-04:00  36.1900  36.1900  36.1900  36.1900   1800.0
2020-04-09 05:51:00-04:00  36.1700  36.1700  36.1700  36.1700   1000.0
2020-04-09 05:55:00-04:00  36.1900  36.1900  36.1900  36.1900   2000.0
2020-04-09 05:56:00-04:00  36.1900  36.1900  36.1900  36.1900   1000.0
2020-04-09 06:36:00-04:00  36.5400  36.5400  36.5400  36.5400    400.0
2020-04-09 06:51:00-04:00  36.8000  36.8000  36.8000  36.8000    200.0
2020-04-09 06:54:00-04:00  36.7700  36.7700  36.7700  36.7700    890.0
2020-04-09 07:02:00-04:00  36.9500  36.9500  36.9500  36.9500   1852.0
2020-04-09 07:06:00-04:00  37.0100  37.0100  37.0100  37.0100    600.0
2020-04-09 07:09:00-04:00  37.0000  37.0000  37.0000  37.0000    222.0
2020-04-09 07:10:00-04:00  37.0000  37.0000  37.0000  37.0000    920.0
2020-04-09 07:19:00-04:00  37.0200  37.0200  37.0200  37.0200    200.0
2020-04-09 07:22:00-04:00  37.0000  37.0000  37.0000  37.0000   3200.0
2020-04-09 07:24:00-04:00  36.8000  36.8000  36.8000  36.8000   1448.0
2020-04-09 07:29:00-04:00  36.3800  36.3800  36.3800  36.3800    604.0
2020-04-09 07:31:00-04:00  36.2500  36.2500  36.2500  36.2500    230.0
2020-04-09 07:33:00-04:00  36.5600  36.5600  36.5600  36.5600   1000.0
2020-04-09 07:41:00-04:00  36.3500  36.3500  36.3500  36.3500    200.0
...                            ...      ...      ...      ...      ...
2008-01-02 15:11:00-05:00  82.7500  82.8000  82.7500  82.8000    500.0
2008-01-02 15:14:00-05:00  82.8100  82.8100  82.8100  82.8100    700.0
2008-01-02 15:16:00-05:00  82.8700  82.8700  82.8700  82.8700    100.0
2008-01-02 15:17:00-05:00  82.8600  82.8600  82.8600  82.8600    100.0
2008-01-02 15:20:00-05:00  82.7500  82.8000  82.7500  82.8000    300.0
2008-01-02 15:24:00-05:00  82.8300  82.8300  82.8300  82.8300    200.0
2008-01-02 15:27:00-05:00  82.9000  82.9000  82.9000  82.9000    400.0
2008-01-02 15:29:00-05:00  82.8600  82.8600  82.8600  82.8600    100.0
2008-01-02 15:30:00-05:00  82.9299  82.9299  82.9299  82.9299    100.0
2008-01-02 15:33:00-05:00  83.0000  83.0000  83.0000  83.0000    200.0
2008-01-02 15:35:00-05:00  83.0000  83.0000  83.0000  83.0000    100.0
2008-01-02 15:36:00-05:00  83.0000  83.0000  83.0000  83.0000   1100.0
2008-01-02 15:37:00-05:00  83.0600  83.1000  83.0600  83.0700   2200.0
2008-01-02 15:38:00-05:00  83.1000  83.1000  83.1000  83.1000    100.0
2008-01-02 15:40:00-05:00  83.0700  83.0700  83.0700  83.0700    100.0
2008-01-02 15:41:00-05:00  83.0700  83.0700  83.0700  83.0700    100.0
2008-01-02 15:43:00-05:00  83.0700  83.0700  83.0700  83.0700    100.0
2008-01-02 15:45:00-05:00  83.0700  83.0700  83.0700  83.0700   1200.0
2008-01-02 15:46:00-05:00  83.0300  83.0300  83.0300  83.0300   1000.0
2008-01-02 15:47:00-05:00  83.0300  83.0300  83.0300  83.0300    100.0
2008-01-02 15:48:00-05:00  83.0600  83.0700  83.0600  83.0600    700.0
2008-01-02 15:49:00-05:00  83.0600  83.0800  83.0300  83.0300   1600.0
2008-01-02 15:50:00-05:00  83.0300  83.0300  83.0300  83.0300    100.0
2008-01-02 15:51:00-05:00  83.0200  83.0400  83.0200  83.0400    700.0
2008-01-02 15:52:00-05:00  83.0200  83.0200  83.0000  83.0000    300.0
2008-01-02 15:53:00-05:00  83.0000  83.0000  82.9300  82.9300  13400.0
2008-01-02 15:54:00-05:00  82.9700  82.9800  82.9700  82.9800    200.0
2008-01-02 15:55:00-05:00  82.9800  83.0300  82.9800  83.0300    500.0
2008-01-02 15:56:00-05:00  82.9900  83.0700  82.9900  83.0700   1700.0
2008-01-02 15:59:00-05:00  82.9900  82.9900  82.9900  82.9900    300.0

[1207645 rows x 5 columns]

In [49]:
df2=data_sym.sort_index()

In [50]:
df2

                              open     high      low    close  volume
timestamp
2008-01-02 09:32:00-05:00  83.6300  83.6300  83.5900  83.6200    8600
2008-01-02 09:33:00-05:00  83.5800  83.5900  83.5600  83.5900    1700
2008-01-02 09:34:00-05:00  83.5800  83.7000  83.5800  83.7000    3400
2008-01-02 09:35:00-05:00  83.7000  83.7000  83.6600  83.6700     500
2008-01-02 09:36:00-05:00  83.6600  83.6600  83.5500  83.5500    4000
2008-01-02 09:37:00-05:00  83.5500  83.5500  83.5500  83.5500     100
2008-01-02 09:38:00-05:00  83.6000  83.6000  83.5600  83.5600     300
2008-01-02 09:39:00-05:00  83.6499  83.6500  83.6499  83.6500     700
2008-01-02 09:40:00-05:00  83.6100  83.6500  83.6000  83.6500    1900
2008-01-02 09:41:00-05:00  83.6500  83.6500  83.6500  83.6500    1100
2008-01-02 09:42:00-05:00  83.6660  83.6900  83.6660  83.6900    4200
2008-01-02 09:43:00-05:00  83.7000  83.7000  83.6900  83.7000    1100
2008-01-02 09:44:00-05:00  83.7000  83.7000  83.6800  83.6800     900
2008-01-02 09:45:00-05:00  83.7100  83.7199  83.7100  83.7199     200
2008-01-02 09:46:00-05:00  83.7099  83.7099  83.7099  83.7099     100
2008-01-02 09:47:00-05:00  83.6800  83.6900  83.6800  83.6900     800
2008-01-02 09:48:00-05:00  83.6800  83.6800  83.6800  83.6800    1100
2008-01-02 09:50:00-05:00  83.7100  83.7400  83.7100  83.7400    3300
2008-01-02 09:51:00-05:00  83.7200  83.7200  83.7200  83.7200     200
2008-01-02 09:52:00-05:00  83.7200  83.7400  83.7200  83.7200    3200
2008-01-02 09:53:00-05:00  83.7200  83.7200  83.7200  83.7200    1500
2008-01-02 09:54:00-05:00  83.7500  83.7500  83.7500  83.7500    1800
2008-01-02 09:55:00-05:00  83.8000  83.8300  83.8000  83.8300    1200
2008-01-02 09:56:00-05:00  83.7900  83.7900  83.7900  83.7900    1100
2008-01-02 09:57:00-05:00  83.7600  83.7600  83.7600  83.7600     100
2008-01-02 09:58:00-05:00  83.7600  83.7900  83.7600  83.7900    3100
2008-01-02 09:59:00-05:00  83.8600  83.8600  83.8600  83.8600     100
2008-01-02 10:00:00-05:00  83.8400  83.8400  83.7500  83.7600    8200
2008-01-02 10:01:00-05:00  83.8000  83.8000  83.5700  83.5700    1600
2008-01-02 10:02:00-05:00  83.6300  83.7000  83.6200  83.6200    3900
...                            ...      ...      ...      ...     ...
2008-01-02 15:11:00-05:00  82.7500  82.8000  82.7500  82.8000     500
2008-01-02 15:14:00-05:00  82.8100  82.8100  82.8100  82.8100     700
2008-01-02 15:16:00-05:00  82.8700  82.8700  82.8700  82.8700     100
2008-01-02 15:17:00-05:00  82.8600  82.8600  82.8600  82.8600     100
2008-01-02 15:20:00-05:00  82.7500  82.8000  82.7500  82.8000     300
2008-01-02 15:24:00-05:00  82.8300  82.8300  82.8300  82.8300     200
2008-01-02 15:27:00-05:00  82.9000  82.9000  82.9000  82.9000     400
2008-01-02 15:29:00-05:00  82.8600  82.8600  82.8600  82.8600     100
2008-01-02 15:30:00-05:00  82.9299  82.9299  82.9299  82.9299     100
2008-01-02 15:33:00-05:00  83.0000  83.0000  83.0000  83.0000     200
2008-01-02 15:35:00-05:00  83.0000  83.0000  83.0000  83.0000     100
2008-01-02 15:36:00-05:00  83.0000  83.0000  83.0000  83.0000    1100
2008-01-02 15:37:00-05:00  83.0600  83.1000  83.0600  83.0700    2200
2008-01-02 15:38:00-05:00  83.1000  83.1000  83.1000  83.1000     100
2008-01-02 15:40:00-05:00  83.0700  83.0700  83.0700  83.0700     100
2008-01-02 15:41:00-05:00  83.0700  83.0700  83.0700  83.0700     100
2008-01-02 15:43:00-05:00  83.0700  83.0700  83.0700  83.0700     100
2008-01-02 15:45:00-05:00  83.0700  83.0700  83.0700  83.0700    1200
2008-01-02 15:46:00-05:00  83.0300  83.0300  83.0300  83.0300    1000
2008-01-02 15:47:00-05:00  83.0300  83.0300  83.0300  83.0300     100
2008-01-02 15:48:00-05:00  83.0600  83.0700  83.0600  83.0600     700
2008-01-02 15:49:00-05:00  83.0600  83.0800  83.0300  83.0300    1600
2008-01-02 15:50:00-05:00  83.0300  83.0300  83.0300  83.0300     100
2008-01-02 15:51:00-05:00  83.0200  83.0400  83.0200  83.0400     700
2008-01-02 15:52:00-05:00  83.0200  83.0200  83.0000  83.0000     300
2008-01-02 15:53:00-05:00  83.0000  83.0000  82.9300  82.9300   13400
2008-01-02 15:54:00-05:00  82.9700  82.9800  82.9700  82.9800     200
2008-01-02 15:55:00-05:00  82.9800  83.0300  82.9800  83.0300     500
2008-01-02 15:56:00-05:00  82.9900  83.0700  82.9900  83.0700    1700
2008-01-02 15:59:00-05:00  82.9900  82.9900  82.9900  82.9900     300

[238 rows x 5 columns]

In [51]:
df.to_csv('RDSB.csv')

In [52]:
data_sym = api.polygon.historic_agg_v2("RDS.A", 1, 'minute', _from='2010-04-09', to='2010-04-09').df