In [1]:
import backtrader as bt
import alpaca_backtrader_api as api
import alpaca_trade_api as tradeapi
import sys
sys.path.insert(0, '../')
import pandas as pd
import talib as ta
import numpy as np
from config import key_id, secret_key
import datetime

In [2]:
#import cross signal generator
from cross_signal import *

In [3]:
from datetime import date
d0 = date.today()
d1 = date(2008, 1, 1)
delta = d1 - d0

In [4]:
delta.days

-4482

In [6]:
startdate = datetime.datetime.today()
date_list = [startdate - datetime.timedelta(days=x) for x in range(-delta.days)]

In [7]:
#trading data is called in the form of JSON
#https://api.polygon.io/v2/aggs/ticker/AAPL/range/1/day/2019-01-01/2019-02-01?apiKey=
api = tradeapi.REST(key_id, secret_key)

In [8]:
#generate list of random days into list
day_list=[]
for i in range(len(date_list)):
    day_list.append(date_list[i].strftime("%Y-%m-%d"))

In [9]:
day_list[0]

'2020-04-09'

In [26]:
#generate random list of symbols
sym_list=['RDS.A']
# ,'AAPL','TSLA','JACK'
#for i in range(10):
    #rand_sym=random.random(range=len(symbols.csv))
    #symlist.append(rand_sym)

In [ ]:
#Generate random day data for
df_list=[]
for i in range(len(date_list)):
        data_sym = api.polygon.historic_agg_v2(sym_list[0], 1, 'minute', _from=day_list[i], to=day_list[i]).df
        df_list.append(data_sym)

# join all days of the list of dataframes

In [ ]:
df_list[742]

In [ ]:
df = pd.concat(df_list)
df

In [ ]:
df2=data_sym.sort_index()

In [ ]:
df2

In [14]:
df.to_csv('RDS.csv')

In [17]:
df = df.sort_index()

In [20]:
data_sym = api.polygon.historic_agg_v2("RDS.A", 1, 'minute', _from='2010-04-09', to='2010-04-09').df

                              open     high      low    close  volume
timestamp
2010-04-09 04:24:00-04:00  60.0700  60.0700  60.0700  60.0700     100
2010-04-09 04:30:00-04:00  60.0600  60.0700  60.0600  60.0600    1115
2010-04-09 04:49:00-04:00  60.0200  60.0200  60.0200  60.0200     100
2010-04-09 05:57:00-04:00  60.0400  60.0400  60.0400  60.0400     100
2010-04-09 05:58:00-04:00  60.0300  60.0300  60.0300  60.0300     280
2010-04-09 05:59:00-04:00  60.0500  60.0600  60.0500  60.0600    2200
2010-04-09 07:00:00-04:00  60.0200  60.0200  60.0000  60.0100    5500
2010-04-09 07:04:00-04:00  60.0300  60.0300  60.0300  60.0300     200
2010-04-09 08:32:00-04:00  59.9800  59.9800  59.9800  59.9800     300
2010-04-09 08:34:00-04:00  59.9900  59.9900  59.9900  59.9900    1000
2010-04-09 08:36:00-04:00  60.0000  60.0000  60.0000  60.0000     100
2010-04-09 08:38:00-04:00  60.0400  60.0400  60.0400  60.0400     400
2010-04-09 08:39:00-04:00  60.0000  60.0000  60.0000  60.0000    1500
2010-04-09 08:40:00-04:00  60.0300  60.0400  60.0300  60.0400    3250
2010-04-09 08:41:00-04:00  60.0500  60.0500  60.0500  60.0500     200
2010-04-09 08:44:00-04:00  60.0300  60.0300  60.0300  60.0300     500
2010-04-09 08:46:00-04:00  60.0500  60.0500  60.0500  60.0500     800
2010-04-09 09:01:00-04:00  60.0200  60.0200  60.0200  60.0200     900
2010-04-09 09:09:00-04:00  59.9800  59.9800  59.9800  59.9800     100
2010-04-09 09:11:00-04:00  59.9500  59.9500  59.9500  59.9500     453
2010-04-09 09:19:00-04:00  59.9900  59.9900  59.9900  59.9900     500
2010-04-09 09:30:00-04:00  59.9500  60.0000  59.9400  59.9900   28722
2010-04-09 09:31:00-04:00  60.0000  60.0100  59.9800  60.0100    9102
2010-04-09 09:32:00-04:00  59.9900  60.0200  59.9900  60.0200    3700
2010-04-09 09:33:00-04:00  60.0400  60.0400  60.0100  60.0300    6878
2010-04-09 09:34:00-04:00  60.0200  60.0800  60.0200  60.0500    4775
2010-04-09 09:35:00-04:00  60.0600  60.1000  60.0600  60.0900    7005
2010-04-09 09:36:00-04:00  60.0600  60.0801  60.0410  60.0801    6760
2010-04-09 09:37:00-04:00  60.0900  60.1100  60.0300  60.0700    4469
2010-04-09 09:38:00-04:00  60.0900  60.1900  60.0800  60.1900   12290
...                            ...      ...      ...      ...     ...
2010-04-09 15:31:00-04:00  60.7100  60.7200  60.7100  60.7125    1088
2010-04-09 15:32:00-04:00  60.7200  60.7200  60.7200  60.7200     100
2010-04-09 15:33:00-04:00  60.7200  60.7300  60.7200  60.7216    6903
2010-04-09 15:34:00-04:00  60.7300  60.7300  60.7275  60.7300    1735
2010-04-09 15:35:00-04:00  60.7300  60.7300  60.7100  60.7100    2600
2010-04-09 15:36:00-04:00  60.7200  60.7400  60.7100  60.7400    5609
2010-04-09 15:37:00-04:00  60.7200  60.7200  60.7000  60.7100    4380
2010-04-09 15:38:00-04:00  60.7162  60.7400  60.7100  60.7200    5450
2010-04-09 15:39:00-04:00  60.7100  60.7118  60.7100  60.7100    1394
2010-04-09 15:40:00-04:00  60.7100  60.7200  60.7100  60.7200    5693
2010-04-09 15:41:00-04:00  60.7200  60.7400  60.7100  60.7100    5900
2010-04-09 15:42:00-04:00  60.7100  60.7300  60.7100  60.7100    2600
2010-04-09 15:43:00-04:00  60.7100  60.7100  60.7000  60.7016    3751
2010-04-09 15:44:00-04:00  60.7000  60.7300  60.7000  60.7001    8400
2010-04-09 15:45:00-04:00  60.7000  60.7200  60.7000  60.7200    2866
2010-04-09 15:46:00-04:00  60.7200  60.7300  60.7100  60.7300    2700
2010-04-09 15:47:00-04:00  60.7200  60.7200  60.7100  60.7120    1523
2010-04-09 15:48:00-04:00  60.7100  60.7200  60.7100  60.7110    3206
2010-04-09 15:49:00-04:00  60.7300  60.7300  60.7100  60.7195    2795
2010-04-09 15:50:00-04:00  60.7200  60.7200  60.7000  60.7000     500
2010-04-09 15:51:00-04:00  60.7000  60.7100  60.7000  60.7100    1900
2010-04-09 15:52:00-04:00  60.7000  60.7100  60.7000  60.7100    8069
2010-04-09 15:53:00-04:00  60.7200  60.7400  60.7200  60.7300    4900
2010-04-09 15:54:00-04:00  60.7300  60.7400  60.7200  60.7400    8900
2010-04-09 15:55:00-04:00  60.7337  60.7370  60.7300  60.7300    2400
2010-04-09 15:56:00-04:00  60.7300  60.7400  60.7200  60.7300   13125
2010-04-09 15:57:00-04:00  60.7300  60.7300  60.7200  60.7200    4405
2010-04-09 15:58:00-04:00  60.7300  60.7300  60.7200  60.7200    3624
2010-04-09 15:59:00-04:00  60.7200  60.7300  60.7000  60.7300    6417
2010-04-09 18:09:00-04:00  60.7000  60.7000  60.7000  60.7000   42065

[393 rows x 5 columns]